body {
    flex-direction: column;
    min-height: 100vh;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #b93928 0%, #453cc0 100%);
}

label {
    font-size: 24px;
}

form {
    margin:auto;
    margin-top: 10px;
    background-color: rgb(230, 146, 146);
  width: fit-content;
  border: 10px solid rgb(168, 9, 9);
  padding: 50px;
}

.formButton{
    width: 100px;
    height: 50px;
}

/* Button CSS got from https://getcssscan.com/css-buttons-examples*/
button {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: fit-content;
    visibility: hidden;
}



button ::after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

button:main,
button:focus {
    user-select: auto;
}

button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

button:disabled {
    cursor: auto;
}

button:active {
    border-width: 4px 0 0;
    background: none;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 42px;
    margin-bottom: 0;
    font-weight: bold;
}


table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table {
    font-family: sans-serif;
}
    th,
    td {
        padding: .25em .5em;
        text-align: left;
    }

    td {
        background-color: #eee;
    }

    th {
        background-color: rgb(39, 126, 167);
        color: #fff;
    }


.zigzag {
    border-collapse: separate;
    border-spacing: .25em 1em;



}

table {
    visibility: hidden;
}

th {
    width: 400px
}